@import '~@/assets/styles/common/mixins.styl';

home {
  flexLayout(column, 1);
  position: relative;

  .home-nav {
    positionLayout(absolute, 1, 50%, 20%, 430px, 430px);
    margin-left: -215px;

    .my-site {
      positionLayout(absolute, 2, 292px, -48px, 300px, 300px);
      overflow: hidden;
      transform: rotate(45deg) translate(-80px, 241px);
      border-radius: 10px;
      transition: all 500ms;
      background: rgba(#000, 0.15);
      color: #fff;

      .cont {
        positionLayout(absolute, 2, 50%, 50%, 226px, 226px);
        margin: -113px 0 0 -113px;
        text-align: center;
        text-shadow: 0 0 3px rgba(#fff, 0.3);
        transform: rotate(-45deg) translate3d(0, 0, 0);

        .title {
          display: block;
          padding-top: 50px;
          font-size: 34px;
          text-shadow: 1px 1px 1px #fff;
        }

        .btn {
          display: inline-block;
          width: 180px;
          height: 56px;
          margin-top: 20px;
          font-size: 18px;
          line-height: 56px;
          border: 1px solid #fff;
          border-radius: 6px;
          vertical-align: top;
          overflow: hidden;
          transition: all 1s linear;
        }
      }

      .bg {
        positionLayout(absolute, 1, 0, 0, 430px, 430px);
        opacity: 0;
        transform: rotate(-45deg) translate(0, -90px);
        transition: all 1s ease-in-out;
        overflow: hidden;
        background: url('~@/assets/images/th.jpg');
        background-size: cover;
      }

      .border {
        position: absolute;
        overflow: hidden;
        background: rgba(#fff, 0.6);
        transition: all 1s linear;

        &.border-t, &.border-b {
          height: 1px;
        }

        &.border-l, &.border-r {
          width: 1px;
        }
      }

      .border-t {
        top: 8px;
        right: 100%;
        left: 8px;
      }

      .border-b {
        bottom: 8px;
        right: 8px;
        left: 100%;
      }

      .border-l {
        top: 100%;
        left: 8px;
        bottom: 8px;
      }

      .border-r {
        top: 8px;
        bottom: 100%;
        right: 8px;
      }
    }

    &:hover {
      .bg {
        opacity: 0.5;
        background-position: 0px -10px;
      }

      .btn {
        background: #fff;
        color: #eb584b;
      }

      .border-t {
        right: 8px;
      }

      .border-b {
        left: 8px;
      }

      .border-l {
        top: 8px;
      }

      .border-r {
        bottom: 8px;
      }
    }
  }

  cloud {
    display: block;
    margin-top: calc(0 - var(--top-nav-height));
    height: 100%;
  }
}
