//页面框架

@import "mixins.styl";

app-root
  flexLayout(column,1,100%,100%)
  overflow hidden
  header
    positionLayout(fixed,10,0,0,100%,60px)
    background transparent
  .app-content
    flexLayout(column,1)
    padding-top 60px
    color #fff
    background linear-gradient(to bottom,#1e4877 0%,#4584b4 50%)
