//flex 布局
flexLayout(direction = row, flexVal = '', width = '', height = '')
  display flex
  flex-direction direction
  if flexVal
    flex flexVal
  if width
    width width
  if height
    height height