/*样式重置*/
*
  margin 0
  padding 0
  box-sizing border-box

ul li
  list-style none

html
body
  height 100%
  font-family 'Helvetica Neue', 'Helvetica', 'PingFang SC', 'Arial Narrow', sans-serif
  font-size 12px
  text-shadow 0 0 5px #fff
