/**
* 全局变量
*/
:root
  //color
  --color #333
  --color-main #2f71a1
  --color-active #f4ae46
  
  //box size
  --top-nav-height 50px

  //font size
  --font-size-label 14px
  --font-size-title 16px
  --font-size-title-max 18px
